Host iranserver
    HostName 212.33.201.143
    User bbb
    Port 22
    IdentityFile ~/.ssh/id_rsa_farnabaz

Host farmac-internet
    HostName 178.84.61.48
    User far
    Port 222

Host farmac-local
    HostName 192.168.178.54
    User far
    Port 222

Host github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/id_fari18n